.close{
    width: 2%;
    line-height: 65% !important;
    font-size: 45px !important;
    color: white !important;
    padding-bottom: 10% !important;
    margin-right: 97%;  
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.close:hover{
    color: rgb(255, 0, 0) !important;
}
#p{
    font-size: 27px;
    font-weight: bold;
    opacity: 0.5;
    background-color: white;
    font-style: italic;
    color: black;
    border-radius: 20px;
    margin-left: 9.5%;
    width: 80%;
    padding: 1%;
    padding-inline-start: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#h1{

    font-size: 27px;
    font-weight: bold;
    opacity: 0.5;
    background-color: white;
    font-style: italic;
    color: black;
    text-align: center;
    border-radius: 20px;
    margin-left: 33%;
    width: 33%;
    padding: 1%;
    padding-inline-start: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-image: url(../images/banner-2.jpg);
    background-repeat: no-repeat;
    padding-right: 70px;
    background-size: cover !important;
}
.size{
    width: 100%;
    margin-top: 3px;
    height: 600px;
}